
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content -- current items-->

	<!-- we passed in data from web.js render.response, so we have access to 'images' -->
                                
	
    </div>
    <div class="span10">
    <!--Body content -- content avail form -->
      <h1><%= name %>'s Status</h1>
      
      <p>Inspiration points left: <%= money %></p>
      
      <p><%= items %></p>
      
      <h2>Your Items in Rooms</h2>
      
      
      
    </div>
  </div>
